* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.crossed {
  text-decoration: line-through;
}

ul {
  list-style: none;
  padding: 0;
}

.checkbox {
  margin-right: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
}
